<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<header role="header">
    <div class="container">

        <!-- logo -->

        <h1> <a th:href="@{/}" title="duster site"><img
                    th:src="@{https://www.z4a.net/images/2023/12/05/-2.png}"
                    style="width: 66px;" title="duster site" alt="duster site" /></a> </h1>

        <!-- logo -->

        <!-- nav -->

        <nav role="header-nav" class="navy">
            <ul>
                <li th:class="${active == 'life' ? 'nav-active':''}"><a th:href="@{/}" title="Life">Life</a></li>
                <li th:class="${active == 'blog' ? 'nav-active':''}"><a th:href="@{/blog/index}" title="Blog">Blog</a></li>
                <li th:class="${active == 'about' ? 'nav-active':''}"><a  th:href="@{/about}" title="About">About</a></li>
            </ul>
        </nav>

        <!-- nav -->

    </div>
</header>

</html>